$colorWhite: #fff;
$colorForm: #f1f1f1;
$colorBtn: #4889f1;
$padBorders: 40px;
$fontText: 'Nunito Sans', sans-serif;
$fontTextBold: 700;
$sizeText: 16px;
$pixelFive: 5px;
$borderGrey: solid grey 1px;
$bgSelect: #f4f4f4;
$imgPath:' ../images/svg/';
$imgArrow: 'angle-down-solid.svg';
