* {
  box-sizing: border-box;
}

h1 {
  margin: 0px;
  padding: 0px;
  line-height: 1.4em;
}

p {
  margin: 0px;
  padding: 0px;
  line-height: 1.4em;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather Sans', sans-serif;
}

/*General container*/

.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 840px;
  padding: 15px;
}

/*Left container*/

.container-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 70%;
}

/*Left container - image container*/

.image-container {
  flex-basis: 25%;
  margin-right: 0;
  margin-left: auto;
}

.image {
  width: 100%;
  border-radius: 10px;
}

/*Left container - text container*/

.text {
  flex-basis: 75%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space space-around;
  justify-content: space-around;
}


.title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: grey;
  font-weight: 700;
}

.subtitle {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
  color: rgb(189, 178, 178);
  font-weight: 400;
}

.button {
  height: 35px;
  display: inline-block;
  width: 130px;
  font-size: 12px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;

}

.button--1 {
  background-color: grey;
  border-radius: 5px;
  color: white;
  border: 0;

}

.button--2 {
  border-radius: 5px;
  font-family: 'Merriweather Sans', sans-serif;
  color: grey;
  border: 2px solid grey;
  box-sizing: border-box;
  background-color: white;
}

/*Container right*/

.container-right {
  flex-basis: 25%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

/*Container right - texts*/

.text-right {
  flex-basis: 65%;
  display: flex;
  min-width: 250px;
  max-width: 250px;
  max-height: 50px;
  min-height: 50px;
}

.links {
    flex-basis: 75%;
    flex-direction: column;
    padding-right: 15px;
    align-self: center;
}

.score {
  flex-basis: 25%;
  background-color: grey;
  border-radius: 15px;
  min-width: 50px;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score__value {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.link__text {
  display: inline-block;
  text-decoration: none;
  color: grey;
}

.link__text--opinions {
  text-align: right;
  width: 100%;
  display: block;
  font-weight: bold;
}

.link__text--comments {
  text-align: right;
  width: 100%;
  display: block;
}


/*Container right - icons*/

.star-icon {
  flex-basis: 100%;
  height: 60%;
  position: relative;
  padding: 15px;
}

.star {
  color: grey;
  position: absolute;
  top: 15px;
  right: 15px;
}


